@use '../styles/variables' as *;
@use 'sass:map';

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
  position: relative; // Необходимо для позиционирования фона

  &WithBg {
    // Разрешаем фону выходить за границы
    overflow: visible;
    
    // Фоновый элемент
    &::before {
      content: '';
      position: absolute;
      // Центрирование по горизонтали и вертикали
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // Размеры фона (можно настроить под ваш случай)
      width: 120%; // Немного больше контейнера
      height: 120%;
      // Стили для SVG маски
      background-color: #132b53;
      mask-image: url('../assets/icons/pattern.svg');
      mask-repeat: no-repeat;
      mask-size: contain; // Полностью вмещает изображение
      mask-position: center;
      opacity: 0.5;
      z-index: -1;
    }
  }
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}