@use '../styles/variables' as *;
@use 'sass:map';

.contanier{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    
}

.cards{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

}