@use '../styles/_variables' as *;
@use 'sass:map';

.header {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.6); 
  backdrop-filter: blur(0.5rem);
  border-radius: 5rem;
  gap: 1rem;
  z-index: 1;
  align-self: center;
  top: 1rem;
}

.left {
  .logoButton {
    background-color: #1f2d3d;
    color: #fdb36d;
    font-weight: 700;
    font-family: $font-montserrat;
    border: none;
    border-radius: 999px;
    padding: 1rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }

   &:active {
    transform: scale(0.95);
  }
}

.nav {
  display: flex;
  gap: 1.5rem;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 999px;

  .navItem {
    background: none;
    border: none;
    font-size: 1rem;
    font-family: $font-nunito;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 1000rem;
    transition: background 0.3s;

    &:hover {
      background-color: map.get($colors, 'secondary-500');
      color: white;
    }

      &:active {
    transform: scale(0.95);
  }

    &.active {
      background-color: #1f2d3d;
      color: white;
    }
  }
}

.right {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  a {
    text-decoration: none;
  }

  .iconButton {
    background-color: #27a7e7;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }

  .callButton {
    min-height: 3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #E6954E !important;
    border: none;
    border-radius: 999px;
    padding: 0.875rem 1.25rem;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;

    & > :not(:first-child) {
      display: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .header {
    align-self: center !important;
    top: 0;
    padding: 1rem;
    border-radius: 1rem;
    gap: 5rem;
  }

  .nav {
    display: none;
  }

  .right {
    a {
      text-decoration: none;
    }
  }

  .callButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E6954E !important;
    border: none;
    border-radius: 999px;
    padding: 0.5rem 0.8rem !important;
    color: white;
    font-weight: 700;
    font-size: 0.75rem !important;
    cursor: pointer;
    text-decoration: none;

    & > * {
      display: none;
    }

    & > :first-child {
      display: flex;
      align-items: center;
      justify-content: center;

      svg,
      i {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  .left .logoButton {
    white-space: nowrap;
  }
}
