@use '../styles/variables' as *;
@use 'sass:map';

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 1.5rem;
  padding: 1rem;
  background: white;
  transition: all 0.3s ease;
  min-height: 385px;
   place-items: center;

}

.stepIndicator {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 3.625rem;
  height: 3.625rem;
  border-radius: 50%;
  background: map-get($colors, primary-500);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: $font-montserrat;
}

.content {
  height: 100%;
    display: flex;
    flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.icon {
  font-size: 32px;
  color: #3b82f6;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #1e293b;
  margin-bottom: 0.25rem;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: $font-montserrat;
}

.description {
  font-size: 14px;
  color: #2F2F2F;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 1rem;
  font-family: $font-nunito;
}

.buttons {
  position: absolute;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  
  /* Стили для вашего компонента Button */
  .button {
    width: 100%;
    justify-content: center;
  }
}