// Reviews.module.scss
.reviewsSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3.375rem;
}

.reviewsList {
  display: flex;
  gap: 2rem;
  padding: 1rem 2rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
}

.reviewCard {
  flex: 0 0 32rem; 
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  transition: transform 0.3s ease;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
}

.avatarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatarLeft {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #f0f0f0;
  transition: transform 0.3s ease;
  
  &:hover {
    transform: scale(1.05);
  }
}

.reviewName {
  margin: 0;
  font-size: 1.25rem;
  color: #333;
  font-weight: 700;
}

.reviewText {
  margin: 0;
  color: #555;
  line-height: 1.7;
  font-size: 1.25rem;
}

.rating {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.star {
  width: 1.8rem;
  height: 1.8rem;
  
  path {
    fill: #FFD700; // Золотой цвет
    transition: all 0.2s ease;
  }
}

/* Анимация появления карточек */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.reviewCard {
  animation: slideIn 0.6s ease forwards;
  
  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      animation-delay: $i * 0.1s;
    }
  }
}

@media screen and (max-width: 480px) {
  .reviewsSection {
    gap: 1.5rem;
    width: auto;
  }

  .reviewsList {
    width: 100%;
    padding: 0.75rem;
    gap: 0.75rem;
  }

  .reviewCard {
    flex: 0 0 90%;
    padding: 1rem;
  }

  .avatarLeft {
    gap: 0.75rem;
  }

  .avatar {
    width: 3rem;
    height: 3rem;
  }

  .reviewName {
    font-size: 0.75rem;
  }

  .reviewText {
    font-size: 0.9rem;
  }

  .rating {
    margin-top: 0.25rem;
    gap: 0.125rem;
    flex-direction: row;
    padding-bottom: 0.5rem;
  }

  .star {
    width: 1.2rem;
    height: 1.2rem;
  }
}
