@use '../styles/_variables' as *;
@use 'sass:map';

/* === Контейнер общего блока === */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* === Верхняя секция: заголовок + особенности === */
.serviceHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: map.get($colors, 'dark-bg') url('../assets/icons/pattern.svg');
  border-radius: 24px;
  padding: 56px;
  gap: 100px;
  justify-content: space-between;
}

.content {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.title {
  font-size: 40pt;
  color: map.get($colors, 'light-bg');
  margin-bottom: 20px;
  font-family: $font-montserrat;
}

.title span {
  display: block;
}

.subtitle {
  font-size: 1.25rem;
  color: map.get($colors, 'light-bg');
  margin-bottom: 40px;
  line-height: 1.6;
  font-family: $font-nunito;
}

.buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.buttonIcon {
  width: 20px;
  height: 20px;
}


.features {
  width: 100%;
  max-width: 40%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.peculiarity {
  width: 100%;
  display: flex;
  align-items: center;
  gap: map.get($spacing, 'sm');
  background-color: map.get($colors, white);
  font-family: $font-nunito;
  font-size: 1rem;
  border-radius: 1rem;  
  padding: 0.5rem;

  &__square {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    display: grid;
    place-items: center;
    background: map.get($colors, 'light-bg');
    border-radius: 10px;
  }

  &__icon {
    font-size: map.get($font-sizes, 'sm');

    & > * {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    font-size: 1.25rem;
    font-weight: 600;
    color: map.get($colors, 'text');
    text-align: left;
  }
}

/* === Нижний блок: статистика === */
.statsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 6rem;
  background-color: white;
  border-radius: 20px;
  gap: 2rem;
  flex-wrap: wrap;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 200px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color:  map.get($colors, primary-500);
  
  border-radius: 50%;
  flex-shrink: 0;
}

.icon {
  font-size: 4rem;
  // width: 4rem;
  // height: 4rem;
}

.textWrapper {
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: $font-nunito;
  color: #2c3e50;
  margin-bottom: 0.25rem;
  white-space: nowrap;
}

.subtext {
  color: #7f8c8d;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: $font-nunito;
}



/* === Адаптив === */
@media only screen and (max-width: 768px) {
  .serviceHeader {
    flex-direction: column;
    padding: 2rem 1.5rem;
    gap: 2rem;
    border-radius: 1rem;
  }

  .content {
    max-width: 100%;
    text-align: center;
  }

  .title {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
  }

  .subtitle {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    line-height: 1.5;
  }

  .buttons {
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    a {
      width: 100%;
      
      button {
        width: 100%;
        justify-content: center;
      }
    }

    .phoneButton {
      order: 1;
    }

    .telegramButton {
      order: 2;
    }
  }

  .features {
    max-width: 100%;
    flex-direction: column;
    gap: 1rem;
  }

  .peculiarity {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    
    &__square {
      width: 2.5rem;
      height: 2.5rem;
      padding: 0.5rem;
      display: grid;
      place-items: center;
    }

    &__icon {
      font-size: map.get($font-sizes, 'sm');

      & > * {
        width: 100%;
        height: 100%;
      }
    }

    &__text {
      font-size: 1rem;
    }
  }

  .statsContainer {
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.25rem;
    border-radius: 1rem;
  }

  .item {
    width: 100%;
    min-width: unset;
    padding: 0.5rem;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 0.75rem;
  }

  .iconWrapper {
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
  }

  .icon {
    font-size: 2rem;
    height: 100%;
    width: 100%;
  }

  .text {
    font-size: 0.9375rem;
    margin-bottom: 0.25rem;
  }

  .subtext {
    font-size: 1rem;
  }

  .serviceName {
    font-size: 0.9375rem;
  }

  .servicePrice {
    font-size: 1.125rem;
  }
}
