@use '../styles/variables' as *;
@use 'sass:map';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.card {
  width: 100%;
}

.mainTitle {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  background-color: map.get($colors, 'secondary-500');
  color: map.get($colors, 'primary-500');
  border-radius: 2rem;
  padding: 2rem 1rem;
  font-family: $font-montserrat;
}

.mechanismsGrid {
  display: grid;
  background-color: white;
  border-radius: 2rem;
  padding: 1.5rem;
  gap: 1rem;
}

.mechanismCard {}

.cardTitle {
  font-size: 1.25rem;
  color: #132b53;
  font-weight: 700;
}

.cardDescription {
  color: #666;
  line-height: 1.6;
  font-size: 1rem;
  line-height: 120%;
}
