.container {
  position: relative;
  z-index: 1;
}

h1, h2, h3 {
  letter-spacing: -0.02em;
}

@media (max-width: 1024px) {
  :root {
    --page-padding-x: 100px;
  }
}

@media (max-width: 480px) {
  :root {
    --page-padding-x: 0.5rem;
  }
}